{% comment %} Tidak di pakai {% endcomment %}
{% load cart_template_tags %}
{% load static %}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'toko:home-produk-list' %}" class="logo">
                            <img src="{% static '/images/logo.png' %}" alt="" style="width:250px">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'toko:home-produk-list' %}" class="active">Beranda</a></li>
                            <li class="scroll-to-section"><a href="{% url 'toko:home-produk-list' %}#explore">Acara</a></li>

                            <li class="submenu">
                                <a href="javascript:;">Talent Kami</a>
                                <ul>
                                    <li><a href="{% url 'toko:produk-list' %}?category=ST">Seni Tari Tradisional</a></li>
                                    <li><a href="{% url 'toko:produk-list' %}?category=SM">Seni Musik Tradisional</a></li>
                                    <li><a href="{% url 'toko:produk-list' %}?category=SR">Seni Rupa Tradisional</a></li>
                                    <li><a href="{% url 'toko:produk-list' %}?category=STR">Seni Teater Tradisional</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="{% url 'toko:about' %}">Tentang Kami</a></li>
                            {% if request.user.is_authenticated%}
                            <li class="scroll-to-section"><a href="{% url 'toko:contact' %}">daftarkan talent</a></li>
                            <li class="scroll-to-section" style="padding-left: 50px;">
                                <a href="{% url 'account_logout' %}">
                                    <img src="{% static '/images/profilecircle.png' %}" alt="icon foto profile" style="height: 23px;width:23px">
                                    <span style="padding-left: 5px;">{{ request.user.username }}</span>
                                </a>
                            </li>

                            {% else %}
                            <li class="scroll-to-section"><a href="{% url 'handlelogin' %}">daftarkan talent</a></li>

                            <li class="scroll-to-section" style="padding-left: 70px;"><a href="{% url 'handlelogin' %}" id="button-login">
                                Masuk</a>
                            </li>

                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
