{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>shop cart - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static '../static/css/cart.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>

    <div class="container padding-bottom-3x mb-1">

        <div class="table-responsive shopping-cart">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Normal Price</th>
                        <th class="text-center">Subtotal</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pItem in keranjang.produk_items.all %}
                    <tr>
                        <td>
                            <div class="product-item">
                                <a class="product-thumb" href="{% url 'toko:produk-detail' pItem.produk_item.slug %}"><img
                                        src="{{ pItem.produk_item.gambar.url }}" alt="Product" style="height:80px"></a>
                                <div class="product-info">
                                    <h4 class="product-title"><a href="#">{{ pItem.produk_item.nama_produk }}</a></h4>
                                    <span><em>Desc:</em> 
                                        {{ pItem.produk_item.deskripsi|truncatewords:10 }}</span>
                                </div>
                            </div>
                        </td>
                        <td class="text-center text-lg text-medium">
                            {{ pItem.quantity }}
                        </td>
                        <td class="text-center text-lg text-medium">$
                        {% if pItem.produk_item.harga_diskon %}
                        {{ pItem.produk_item.harga_diskon }}
                        {% else %}
                        {{ pItem.produk_item.harga }}
                        {% endif %}
                        </td>
                        <td class="text-center text-lg text-medium">
                        {% if pItem.produk_item.harga_diskon %}
                        <span class="text-danger"><del>${{ pItem.get_total_harga_item }}</del></span>
                        <span class="badge badge-danger rounded-pill d-inline">Hemat ${{ pItem.get_total_hemat_item }}</span>
                        {% else %}
                        ${{ pItem.get_total_harga_item }}
                        {% endif %}
                        </td>
                        <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title
                                data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan='5' class='text-center'>Keranjang kosong</td>
                    </tr>
                        <td colspan='5'><a class="btn btn-outline-secondary" href="/carousel"><i class="icon-arrow-left"></i>&nbsp;Back
                            to Shopping</a></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if keranjang.get_total_harga_order %}
        <div class="shopping-cart-footer">
            <div class="column text-lg">Subtotal: <span class="text-medium">${{ keranjang.get_total_harga_order }}</span></div>
        </div>
        <div class="shopping-cart-footer">
            <div class="column">
                <a class="btn btn-outline-secondary" href="/carousel"><i class="icon-arrow-left"></i>&nbsp;Back
                    to Shopping</a>
            </div>
            <div class="column">
                <a class="btn btn-success" href="{% url 'toko:checkout' %}">Checkout</a>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>