{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us py-5">
        <div class="container ">
            <div class="row">
                <div class="col-lg-3"> </div>
                <div class="col-lg-6">
                    <div class="section-heading text-center">
                        <h2 class="text-center mb-4">{{ title }}!</h2>
                        <span >{{ body }}</span>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->

{% endblock content %}
